@use './spacing' as spacing;

input {
  border-radius: 4px;
  margin-bottom: map-get(spacing.$spacing, l);
  max-width: 400px;
  min-width: 300px;
  padding: map-get(spacing.$spacing, xs);

  &[type='checkbox'] {
    margin-bottom: unset;
    min-width: unset;
  }
}

textarea {
  border-radius: 4px;
}

label {
  margin-bottom: map-get(spacing.$spacing, s);
}
