@mixin button-theme($theme) {
  button {
    &[primary-button] {
      background: function.theme-colour($theme, accent-two, button);
    }

    &[secondary-button] {
      border: 1px solid function.theme-colour($theme, accent-two, button);
    }

    &[tertiary-button] {
      &:hover {
        background: function.theme-colour($theme, accent-two, background-fade);
      }
    }
  }
}
