@mixin new-idea-theme($theme) {
  app-update-or-new-idea {
    .background {
      background: function.theme-colour($theme, background);
    }

    .background-delete {
      background: function.theme-colour($theme, background, background-fade);
    }

    .confirm-delete {
      background: function.theme-colour($theme, background);
    }
  }
}
