@use '../../scss/base';

:host {
  position: relative;
  width: 100%;
}

.background {
  height: calc(100vh - 67px);
  left: 0;
  position: fixed;
  top: 67px;
  width: 100vw;
  z-index: 0;
}

.header-title {
  position: relative;
  z-index: 1;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.description-input {
  resize: vertical;
}

.tags {
  display: flex;
}

.tag {
  align-items: center;
  display: flex;
  width: fit-content;
}

.tag-label {
  margin: map-get(base.$spacing, m) map-get(base.$spacing, l) map-get(base.$spacing, m) map-get(base.$spacing, s);
}

.buttons {
  display: flex;

  > button {
    width: fit-content;
  }
}

.cancel-button {
  margin: 0 map-get(base.$spacing, s) 0 auto;
}

button.delete-button {
  background: linear-gradient(120deg, transparent 0%, transparent 50%, map-get(base.$red, 300) 50%);
  background-size: 245%;
  border-color: map-get(base.$red, 300);
}
