@use '../../scss/base';

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: fit-content;
}

app-card {
  margin: map-get(base.$spacing, l) auto;
}
