@use '../../scss/base';

.card {
  border-radius: 4px;
  display: block;
  padding: map-get(base.$spacing, l);
  position: relative;
  width: 100%;

  &[fit-content] {
    width: fit-content;
  }
}

:host {
  @extend .card;
}

:host[app-card] {
  @extend .card;
  text-align: left;
  transition: transform 0.15s linear;
  width: 100%;

  &:hover {
    transform: translateY(-1px);
  }
}
